// $color-1 :#B7245C;
// $color-2:#EDCBB1;
// $color-3:black;
// $color-4:#002500;
// $color-5:#235f23;
// $color-1 :#CA054D;
// $color-2:#A4D4B4;
// $color-3:black;
// $color-4:#B96D40;
// $color-5:#FFCF9C;
$color-1:#FEE1C7;
$color-2 :#F44174;
$color-3:black;
$color-4:#4C1E4F;
$color-5:#FA7E61;
$color-box-shadow:black;