.slider-container {
    width: 100%;
    height: 100vh;
    position: relative;
    min-height: 500px;
    overflow-x: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
}

.slide-1 {
    background: url("../image/asset/slide-1.jpg") no-repeat scroll center center/cover;
}

.slide-2 {
    background: url("../image/asset/slide-2.jpg") no-repeat center center/cover;
}

.slide-3 {
    background: url("../image/asset/slide-3.jpg") no-repeat center center/cover;
}

.slide-4 {
    background: url("../image/asset/slide-4.jpg") no-repeat center center/cover;
}