.menu-btn-container {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100px;
  height: 50px;
  z-index: 1000;
  border: 1px solid black;
}

.menu-btn-container button {
  background-color: #f8f8f8;
}

.side-menu {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  z-index: 999;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.side-menu .side-menu-content {
  background-color: white;
  width: calc(100% - 20vw);
  height: 100%;
  position: relative;
}

.side-menu .side-menu-content .side-menu-links {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 150px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid black;
}

.side-menu .menu-red-part {
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 10%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.side-menu .menu-red-part .bg-white {
  height: 15vh;
  background-color: white;
  opacity: 1;
}

.side-menu .menu-red-part .bg-red {
  height: 70vh;
  background-color: #ff5851;
  opacity: 0.7;
}

.side-menu .menu-red-part-go {
  left: 80%;
  width: 20vw;
}

.side-menu-go {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.body-overflow {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.inside-wrapper {
  position: absolute;
  top: 40px;
  right: 40px;
  width: calc(100% - 80px);
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.hello-block {
  position: fixed;
  top: 40px;
  right: 0;
  direction: rtl;
  -webkit-transition: 1s;
  transition: 1s;
  margin-right: 40px;
  width: calc(100% - 80px);
  height: calc(100vh - 80px);
  overflow: hidden;
  border: 1px solid black;
}

.hello-block .hello-left {
  background-color: #ff5851;
  -webkit-transition: 0.8s cubic-bezier(0.44, -0.16, 0.33, 0.85);
  transition: 0.8s cubic-bezier(0.44, -0.16, 0.33, 0.85);
}

.hello-block .hello-right {
  background-color: #f8f8f8;
  -webkit-transition: 0.8s cubic-bezier(0.44, -0.16, 0.33, 0.85);
  transition: 0.8s cubic-bezier(0.44, -0.16, 0.33, 0.85);
}

.hello-width {
  width: calc(90% - 80px) !important;
}

.hello-text {
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.text-go {
  top: 50%;
  left: 100%;
}

.red-span {
  background-color: #ff5851;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: -50%;
  bottom: 14px;
}

.hello-content {
  position: absolute;
  top: 50%;
  left: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 200px;
  text-align: left;
  overflow: hidden;
}

.hello-content p {
  -webkit-transform: translateY(250px);
          transform: translateY(250px);
}

.hello-content p:nth-of-type(1) {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.hello-content p:nth-of-type(2) {
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.hello-content p:nth-of-type(3) {
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
}

.hello-content .hello-content-go {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hello-content .zigzag {
  position: relative;
}

.hello-content .zigzag img {
  width: 50px;
}

.hello-content .zigzag p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  height: 100%;
  line-height: 40px;
  background-color: #ff5851;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  color: #ff5851;
}

.hello-content .zigzag .zigzag-go {
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
  color: black;
}

.block-1 {
  width: 100%;
  height: 100vh;
  background-color: yellow;
}

.invis-bg {
  background-color: transparent;
  width: 0;
  height: 50vh;
}
/*# sourceMappingURL=styles.css.map */