    @import "colors";
    @import "mixin";
    .wrapper {
        //     // height: 1000vh;
        //     @include border (5px, red);
        //     position: relative;
    }
    
    .inside-wrapper {
        position: absolute;
        top: 0;
        left: 40px;
        @include border(5px, blue);
        width: calc(100% - 80px);
    }
    
    .hello-block {
        position: fixed;
        top: 40px;
        left: 0;
        direction: rtl;
        transition: 1.5s;
        margin-left: 40px;
        width: calc(100% - 80px);
        height: calc(100vh - 80px);
        overflow: hidden;
    }
    
    .hello-left {
        background-color: $color-1;
        transition: 0.8s cubic-bezier(0.44, -0.16, 0.33, 0.85);
    }
    
    .hello-right {
        background-color: $color-2;
        transition: 0.8s cubic-bezier(0.44, -0.16, 0.33, 0.85);
    }
    
    .hello-text {
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        transition: 0.9s;
    }
    
    .text-go {
        top: 50%;
        left: 100%;
    }
    
    .red-span {
        background-color: #ff5851;
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        right: -50%;
        bottom: 14px;
    }
    
    // ___________________________________block-1____________________________
    .block-1 {
        width: 100%;
        height: 100vh;
        background-color: yellow;
        // margin-top: calc(100vh + 700px);
    }
    
    .invis-bg {
        background-color: transparent;
        width: 100%;
        height: 50vh;
    }