@import "colors";
nav {
    border: 2px solid yellowgreen;
    ul {
        list-style-type: none;
        li {
            padding: 20px 15px;
            transition: 0.2s;
            &:hover {
                background-color: $color-2 !important;
            }
        }
        li:first-child {
            background-color: $color-1;
            @include imp-text;
        }
        li:last-child {
            background-color: $color-3;
        }
    }
}

.btn-1 {
    @extend .main-btn;
}

.btn-2 {
    @extend .secondary-btn;
}