@import "colors";
@import "mixin";
.wrapper {
    height: 1000vh;
    @include border (5px, red)
}

.hello-block {
    position: fixed;
    top: 20px;
    left: 0;
}

.hello-left {
    background-color: $color-1;
}

.hello-right {
    background-color: $color-2;
}